[Unit]
Description=Service Check
Documentation=https://github.com/ProImpact/service-check
After=network.target

[Service]
Type=simple
Group=sudo
ExecStart=/home/k8s-server/services/on_startup/service_check_server -config /home/k8s-server/services/on_startup/server-config.json
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
